@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import '../Styles/variables.scss';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: $info;
  background: $teal;
  text-align: center;
  line-height: 45px;
}

h4{
  padding: 25px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  /* object-position: 0% 23%; */
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
